# Dipendenze
node_modules/

# Build di produzione
dist/
build/

# Log e file di sistema
npm-debug.log*
.DS_Store
.vscode/
.history/

TODO.md
DOMAIN_SETUP_OVH.md
DOCUMENTATION.md
DEPLOY.md
FCM_SETUP.md
GUIDA_PLAYSTORE.md
nginx.conf

backend/.env
frontend/.env
backend/config/serviceAccountKey.json
update_android.sh